body{
  background-image:url(../images/spiderman.png);
  background-repeat: no-repeat;
  background-size: cover;
  }
.addHeroes{
  align-content: center;
}

.homePage{

    border-radius: 25px;


    background-repeat: repeat;
    padding: 20px;
    width: 1200px;
    height: 1150px;

}
