<div class="row">
<div class="col-md-5">
  <!-- <div id="rcorners6"></div> -->
  <h3> Squad List</h3>
  <a href="/squads/new">Add a new squad</a>
  <a href="/squads">View all squads</a>

</div>
</div>


<div class="row">
<div class="col-md-5">
<h3> Heroes List</h3>
<a href="/heroes/new">Add a new hero</a>
<a href="/heroes">View all heroes</a>

</div>
</div>
