<h2>Add a new squad</h2>
<h3>Use this form to fill in the details</h3>
<form action="/squads" method="post">
<label for="squadName"> Name of Squad</label>
<input id="squadName" type="text" name="squadName">
<label for="cause"> Name of Cause</label>
<input id="cause" type="text" name="cause">
<button type="submit" class="btn btn-sucsess"> Create New Squad</button>
</form>
